.home {

  .stage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .book {
      text-align: center;
      line-height: 320px;
      width: 240px;
      margin: 0 12px;
      border: 1px solid #ccc;
      height: 320px;
    }
  }
}
